{{> header}}

<div class="content">
    {{#if username}}
        <div id="menu">
            <div class="title">Navigation</div>
            <a class="nav" href="#/catalog">Catalog</a>
            <a class="nav" href="#/create">Submit Link</a>
            <a class="nav" href="#/myposts">My Posts</a>
        </div>
    {{/if}}

    {{> page}}
</div>

{{> footer}}